/static

# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#AWS credentials
src/json/
json/credentials.json

#Webpack Bundle
public/bundle.js

#Production zip
pdie.zip
