.imagePreview {
  border-color: #2a5880;
  border-width: 5px;
  border-style: solid;
  display: inline-block;
  flex-grow: 14;
  margin: 0 auto;
  padding: 5px;
}

#preview-img {
  max-height: 50vh;
  max-width: 70vh;
}
