<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designers' Image Engine</title>
    <link rel="icon" type="image/gif" href="https://lh6.googleusercontent.com/-TCxIQg7pOzs/AAAAAAAAAAI/AAAAAAAAADM/gBZHOGjkz1o/photo.jpg" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="root"><%- markup -%></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
