.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  align: center;
}

.App-header {
  background-color: SteelBlue;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}
